Mootit.Pizzeria.WebClient/Service References/Mootit.Pizzeria.Service.Store/Mootit.Pizzeria.Entities1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mootit.Pizzeria.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mootit.Pizzeria.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeverageCost" type="xs:double" />
      <xs:element minOccurs="0" name="Beverages" nillable="true" type="tns:ArrayOfBeverage" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Customer" type="xs:long" />
      <xs:element minOccurs="0" name="Delivered" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DessertCost" type="xs:double" />
      <xs:element minOccurs="0" name="Desserts" nillable="true" type="tns:ArrayOfDessert" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="PizzaCost" type="xs:double" />
      <xs:element minOccurs="0" name="Pizzas" nillable="true" type="tns:ArrayOfPizza" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="ArrayOfBeverage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Beverage" nillable="true" type="tns:Beverage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBeverage" nillable="true" type="tns:ArrayOfBeverage" />
  <xs:complexType name="Beverage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Beverage" nillable="true" type="tns:Beverage" />
  <xs:complexType name="ArrayOfDessert">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Dessert" nillable="true" type="tns:Dessert" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDessert" nillable="true" type="tns:ArrayOfDessert" />
  <xs:complexType name="Dessert">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Dessert" nillable="true" type="tns:Dessert" />
  <xs:complexType name="ArrayOfPizza">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pizza" nillable="true" type="tns:Pizza" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPizza" nillable="true" type="tns:ArrayOfPizza" />
  <xs:complexType name="Pizza">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Flavor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Slice" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pizza" nillable="true" type="tns:Pizza" />
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
</xs:schema>