Mootit.Pizzeria.WebClient/Service References/Mootit.Pizzeria.Service.Store/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Mootit.Pizzeria.Entities" />
  <xs:element name="Sync">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Mootit.Pizzeria.Entities" minOccurs="0" name="GetOrderResult" nillable="true" type="q1:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPizza">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPizzaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Mootit.Pizzeria.Entities" minOccurs="0" name="GetPizzaResult" nillable="true" type="q2:Pizza" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDessert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDessertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Mootit.Pizzeria.Entities" minOccurs="0" name="GetDessertResult" nillable="true" type="q3:Dessert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBeverage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBeverageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Mootit.Pizzeria.Entities" minOccurs="0" name="GetBeverageResult" nillable="true" type="q4:Beverage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Mootit.Pizzeria.Entities" minOccurs="0" name="ListOrdersResult" nillable="true" type="q5:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCustomerOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCustomerOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Mootit.Pizzeria.Entities" minOccurs="0" name="ListCustomerOrdersResult" nillable="true" type="q6:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPizzas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPizzasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Mootit.Pizzeria.Entities" minOccurs="0" name="ListPizzasResult" nillable="true" type="q7:ArrayOfPizza" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListDesserts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListDessertsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Mootit.Pizzeria.Entities" minOccurs="0" name="ListDessertsResult" nillable="true" type="q8:ArrayOfDessert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListBeverages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListBeveragesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Mootit.Pizzeria.Entities" minOccurs="0" name="ListBeveragesResult" nillable="true" type="q9:ArrayOfBeverage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Mootit.Pizzeria.Entities" minOccurs="0" name="order" nillable="true" type="q10:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Mootit.Pizzeria.Entities" minOccurs="0" name="InsertOrderResult" nillable="true" type="q11:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>